body{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* background-image: linear-gradient (to right,)url("back.jpg");  */
    background-image:url("back.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}
h3{
    font-size: 4rem;
    text-align: center;
    color:rgba(2, 48, 2, 0.874);
    font-style: italic;
}
.game{
    display:grid;
    margin:30px 0;
    grid-template-columns:repeat(4,180px);
    grid-row-gap:2em;
    align-items: center;
    justify-content: center;
    /* display: flex; */
}
#gameBoard div{
    height: 200px;
    width: 140px;
    border:3px solid rgb(2, 70, 2);
    /* margin-left: 40px;
    padding:20px; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5em;
    color:skyblue;
    background-color: rgb(194, 69, 90);
}
.cardback{
    background-color:blueviolet;
    opacity: 0.8;
    background: url('https://images.pexels.com/photos/459198/pexels-photo-459198.jpeg?cs=srgb&dl=pexels-pixabay-459198.jpg&fm=jpg');
    background-position: 10px 0,10px 0, 0 0 ,0 0;
    background-size: 10px 10px;
    background-repeat: repeat;
}
#gameBoard div:hover{
    cursor: pointer;
}
.won{
    font-size: 6em;
    display:flex;
    justify-content: center;
    height: 500px;
    align-items: center;
    color:rgba(2, 48, 2, 0.874);
    width: 500px;
    margin:0px auto;
    font-weight: 500;
}
img{
    max-width: 100%;
    height: 200px;
    width: 140px;
}
/* .song{
    text-align: center;
} */